<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>hsp</display-name>
	
	<servlet>
		<description>
		</description>
		<display-name>SpecializationRetrieveServlet</display-name>
		<servlet-name>SpecializationRetrieveServlet</servlet-name>
		<servlet-class>
		com.controller.SpecializationRetrieveServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CountryRetrieveServelt</display-name>
		<servlet-name>CountryRetrieveServelt</servlet-name>
		<servlet-class>
		com.controller.CountryRetrieveServelt</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StateRetrieveServlet</display-name>
		<servlet-name>StateRetrieveServlet</servlet-name>
		<servlet-class>
		com.controller.StateRetrieveServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CityRetrieveServlet</display-name>
		<servlet-name>CityRetrieveServlet</servlet-name>
		<servlet-class>
		com.controller.CityRetrieveServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>HospitalRegistrationServlet</display-name>
		<servlet-name>HospitalRegistrationServlet</servlet-name>
		<servlet-class>
		com.controller.HospitalRegistrationServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>HospitalRetrieveServlet</display-name>
		<servlet-name>HospitalRetrieveServlet</servlet-name>
		<servlet-class>
		com.controller.HospitalRetrieveServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DoctorRegistrationServlet</display-name>
		<servlet-name>DoctorRegistrationServlet</servlet-name>
		<servlet-class>
		com.controller.DoctorRegistrationServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PatientRegistrationServlet</display-name>
		<servlet-name>PatientRegistrationServlet</servlet-name>
		<servlet-class>
		com.controller.PatientRegistrationServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>
		com.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AppointmentBooking</display-name>
		<servlet-name>AppointmentBooking</servlet-name>
		<servlet-class>
		com.controller.AppointmentBooking</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TransactionServlet</display-name>
		<servlet-name>TransactionServlet</servlet-name>
		<servlet-class>
		com.controller.TransactionServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FeedBackInsertServlet</display-name>
		<servlet-name>FeedBackInsertServlet</servlet-name>
		<servlet-class>
		com.controller.FeedBackInsertServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForgotPasswordServlet</display-name>
		<servlet-name>ForgotPasswordServlet</servlet-name>
		<servlet-class>
		com.controller.ForgotPasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddAccountDeatils</display-name>
		<servlet-name>AddAccountDeatils</servlet-name>
		<servlet-class>com.controller.AddAccountDeatils</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>SpecializationRetrieveServlet</servlet-name>
		<url-pattern>/SpecializationRetrieveServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CountryRetrieveServelt</servlet-name>
		<url-pattern>/CountryRetrieveServelt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StateRetrieveServlet</servlet-name>
		<url-pattern>/StateRetrieveServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CityRetrieveServlet</servlet-name>
		<url-pattern>/CityRetrieveServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HospitalRegistrationServlet</servlet-name>
		<url-pattern>/HospitalRegistrationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HospitalRetrieveServlet</servlet-name>
		<url-pattern>/HospitalRetrieveServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoctorRegistrationServlet</servlet-name>
		<url-pattern>/DoctorRegistrationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PatientRegistrationServlet</servlet-name>
		<url-pattern>/PatientRegistrationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AppointmentBooking</servlet-name>
		<url-pattern>/AppointmentBooking</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransactionServlet</servlet-name>
		<url-pattern>/TransactionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FeedBackInsertServlet</servlet-name>
		<url-pattern>/FeedBackInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPasswordServlet</servlet-name>
		<url-pattern>/ForgotPasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddAccountDeatils</servlet-name>
		<url-pattern>/AddAccountDeatils</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>home.html</welcome-file>
	</welcome-file-list>
</web-app>
